.LeftNav {
  display: flex;
  flex-direction: column;
  /* background: #c0c5e2; */
  color: #585a68;
  padding: 50px;
  height: 100%;
}

.menu-items {
  padding-top: 50px;
}

.menu-item {
  padding-top: 24px;
}
