.AddInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  padding: 24px 0;
  font-size: 20px;
  color: gray;
}

.AddInput__Btn {
  display: flex;
  width: 48px;
  height: 48px;
  cursor: pointer;
}
/* .AddInput__calIco {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
} */
