.Header {
  display: flex;
  justify-content: flex-end;

  min-height: 80px;
}
.wallet {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.logOut-link {
  padding: 4px;
  margin: 8px;
  color: white;
  background: #fb8c00;
  border-radius: 8px; 
}
